html {
  font: small/1.4 "Lucida Grande", Tahoma, sans-serif;
}

body {
  font-size: 92%;
}

#nav {
  margin: 0;
  padding: 0;
  background: #6F6146;
  list-style: none;
  width: 180px;
}

#nav li {
  margin: 0;
  padding: 0;
}

#nav a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 0 15px;
  line-height: 2.5;
  border-bottom: 1px solid #FFF;
}

#nav #nav_con a {
  border: none;
}

#nav a:hover {
  background: #4F4532;
}