body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #4F4F4F;
  font: 60%/1.75em "Times New Roman", serif;
}

a {
  border-bottom: 1px dotted #960;
  text-decoration: none;
  color: #960;
}

a:hover {
  border-bottom: 1px solid #960;
}

h1 {
  margin: 0 6px;
  padding: 0 0 .5em 0;
  color: #CCC;
  font-style: italic;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 2.375em;
}

h1 em {
  color: #4D4D4D;
}

h1 a, h1 a:link, h1 a:hover, h1 a em, h1 a:link em, h1 a:hover em {
  border-color: #999;
  color: #999;
}

p, ul {
  margin: 0 6px;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto 5px auto;
  border: 1px solid #CCC;
  border-bottom-color: #EEE;
  border-left-color: #FFF;
  border-top-color: #BBB;
}

p.photo {
  margin: 0 0 10px 0;
  float: left;
  width: 75%;
  text-align: center;
  background-color: #fff;
  line-height: 1em;
}

p.photo a, ul.thumbnails a {
  display: block;
  float: left;
  margin: 0;
  padding: 4px 4px 9px 4px;
  border: 1px solid #ccc;
  border-top-color: #eee;
  border-right-color: #ddd;
  border-bottom-color: #bbb;
  background-color: #fff;
  text-align: center;
}

p.photo a:hover, ul.thumbnails a:hover {
  border-color: #ccc;
  background-color: #eee;
}

p.description {
  clear: left;
}

#content {
  margin: 0 auto 20px 20px;
  padding: 1em 0 0 0;
  width: 612px;
  font-size: 1.25em;
  line-height: 1.75em;
}

ul.navigation {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  line-height: 1em;
  list-style: none;
  position: absolute;
  top: 58px;
  left: 650px;
}

ul.navigation li {
  display: inline;
  margin: 0;
  padding: 0;
}
