body {
  font: 62.5%/1.75em "Trebuchet MS", Verdana, sans-serif;
  color: #4D4D4D;
}

#page {
  margin: 0 auto;
  width: 75%;
  text-align: left;
}

#content {
  margin: 0 auto;
  padding: 1em 0;
  background-color: #FFF;
  font-size: 1.125em;
  line-height: 1.75em;
  text-align: left;
  font: 1.25em/1.75em "Times New Roman", serif;
}

a:link, a {
  border-bottom: 1px dotted #960;
  color: #960;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #369;
}

h1 {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #EEE;
  font: 2.75em/1.75em Georgia, serif;
  text-transform: lowercase;
  color: #CC6;
  font-variant: small-caps;
}

p {
  margin: 0;
  padding: 0 0 1em 0;
}

cite {
  display: block;
  margin-top: 2em;
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
}

img.intro {
  padding: 4px;
  border: 3px double #CCC;
  background-color: #FFF;
  margin: 0 -7px;
}

.captioned_photo {
  position: relative;
  float: right;
  margin: 0.5em 0 0.5em 2em;
  padding: 1em;
  line-height: 1em;
  width: 258px;
  border: 3px solid #333;
}

.captioned_photo p {
  position: absolute;
  bottom: 14px;
  left: 0;
  display: block;
  width: 240px;
  margin: 0 0 0 1.5em;
  padding: 0;
  border: 1px solid #666;
  border-right-color: #000;
  border-bottom-color: #000;
  background-color: #111;
  font: 0.75em/1.75em Verdana, sans-serif;
  letter-spacing: 0.5em;
  color: #FFF;
}

.captioned_photo p span {
  display: block;
  padding: 0.75em;
}

.captioned_photo img {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  border: 1px solid #FFF;
}
