ul.thumbnails {
  margin: 0 0 10px 0;
  padding: 0;
  float: left;
  text-align: center;
  background-color: #FFF;
  line-height: 1em;
  list-style: none;
}

ul.thumbnails li, ul.navigation li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.navigation a {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  padding: 4px 4px 6px 4px;
  border: 0;
  background-color: #FFF;
  text-align: center;
  width: 80px;
}

ul.navigation a:hover {
  background-color: #EEE;
  border: 0;
}
